*{
    margin:0;
    padding:0;
}

img {
    width:100%;
    z-index:70;
}

#MenuLogo{
    height:40px;
    width:auto;
}

section {
    width:90%;
    margin:0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#myMenu {
    display:flex;
    position: fixed;
    top: 0px;
    left: 1em;
    padding:1em;
    z-index: 70;
}

#myMenu ul{
    display:flex;
    flex-direction:row;
    padding:1em;
    list-style: none;
    margin:0;
    position: fixed;
    top: 0px;
    right: 1em;
    z-index: 70;
}

#myMenu ul li a{
    text-decoration:none;
    display:block;
    color:#9420EF;
    padding:10px;
    font-size:20px;
    font-weight:700;
}

#myMenu li a:hover{
    color:#21C7ED;
    transition: 0.3s ease-in-out;
}

.section{
    background-color: #333;;
    color:#A54CFB;
}

.section h1{
    color:#AC57FF;
}


.Profile {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:50px;
    width:95%;
    margin:0 auto;
}

#profile {
    display:block;
    width:70%;
    margin:0 auto;
    
}

.text {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

.borderButton {
    color: #AC57FF;
    border: solid #AC57FF;
    text-decoration:none;
    transform:skew(-5deg);
    margin-right:3em;
    padding:1em 2em;
    background-color:rgba(165,76,251,0.25);
    transition: 0.3s ease-in-out;
}

.borderButton:hover {
    color:#21C6EC;
    border-color:#21C6EC;
    background-color:rgba(33,198,236,0.20);
    transform:scale(1.1) skew(-5deg);
    
}

.parent {
    display:flex;
}

.child {
    flex:1;
    z-index:2;
}

.child2 {
    width:29%;
}

.flex {
    display:flex;
    background-color:rgba(33,198,236,0.20);
    border: solid rgba(33,198,236,1);
    padding:1em 3em;
}

.galleryContent {
    display:flex;
    justify-content: center;
    margin:0 auto;
    width:80%;
}

.galleryContent .child{
    margin:1em;
}

.galleryContent .child2{
    margin:1em;
}



h1{
    font-size:60px;
    
}

#title{
    font-size:40px;
    text-align: center;
}

.introduction h2{
    font-size:40px;
    font-weight:500;
}

.introduction{
    color:#ffffff;
}


.supporting {
    width:20%;
    height:100vh;
    z-index:0;
}

.section1 .supporting, .section3 .supporting, .section5 .supporting, .section7 .supporting{
    position:absolute;
    left:-20px;
    top:2em;
    z-index:1;
}

.section2 .supporting,.section4 .supporting ,.section6 .supporting{
    position:absolute;
    right:-20px;
    top:2em;
    z-index:1;
}


.aboutme p{
    font-size:1.3em;
}

.aboutme img{
    width:30%;
}

.article{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
    box-sizing: border-box;
    width:90%;
    margin:0 auto;
}

.portfolio{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    box-sizing: border-box;
    width:90%;
    margin:0 auto;
}

#logo {
    display:block;
    margin:0 auto;
    width:300px;
    z-index:3;
}

}

/* Section 3 */

.section3 .title{
    z-index:4
}

.portfolio .childbutton {
    display:block;
    position: relative;
    color:white;
    font-size:24px;
    text-decoration: none;
    text-align:center;
    width:33%;
    margin:0 15px;
    height:100%;
    z-index:5;
    transition: 0.3s ease-in-out;
}

.childbutton:hover {
    transform: scale(1.1,1.1);
}

.childbutton h4 {
    color:white;
    position:absolute;
    padding:30px;
    bottom:0;
}

.button1 {
    background-image:url(Content/Banner1.png);
    background-size:cover;
}

/* Section 4 */


.contactUs {
    display:flex;
    align-items: center;
    width:85%;
    margin:0 auto;
}

.contactUs .child {
    flex:1;
}


form {
    display:flex;
    flex-direction: column;
    padding:50px;
    z-index:5;
}

form input{
    padding:10px;
    color:#555;
}

form input,.form label{
    z-index:5;
    font-size:18px;
    min-width:500px;
}

input:focus,textarea:focus {
    border: 2px solid #ED1C24;
    outline:2px;
}

form label{
    margin:20px 0 10px 0;
    opacity:0.8;
    font-weight:700px;
}

textarea{
    min-height:160px;
}

input[type="submit"] {
    background-color:#A54CFB;
    color:white;
    outline:0;
    border:none;
    transition:0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color:#A54CFB;
    color:white;
    
}

#mail {
    color:#2EC3E9;
    text-decoration:none;
    transition:0.3s ease-in-out;
}

#mail:hover {
    color:white;
    text-decoration:underline;
}

#resume {
    color:#2EC3E9;
    text-decoration:none;
    transition:0.3s ease-in-out;
}

#resume:hover {
    color:white;
    text-decoration:underline; 
}

#contactNumber {
    color:#2EC3E9;
    font-size:1em;
}

#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span{
    background-color: white;
}

/* Responsive Portion */

@media only screen and (max-width: 600px) {
    .Profile {
        flex-direction:column;
        align-items:center;
        justify-content: center;
        
    }
    
    .text a {
        margin:0 auto;
    }
    
    .portfolioButton a{
        padding:10px 5px;
        font-size:14px;
    }
}

/* Portfolio Content Section */

.galleryContent {
    font-size:1em;
    color:#2EC3E9;  
}

.galleryContent h1{
    font-size:1.5em;
}


.mainPortion1{
    flex:1;
}

.mainPortion2{
    flex:3;
}

#role {
    margin-left:2em;
}

.subPortion1{
    flex:3;
    color:rgba(33,198,236,1);
}

.subPortion2{
    flex:1;
    color:rgba(33,198,236,1);
}

.margin {
    margin-top:2em;
    margin-right:2em;
}



