* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family:Roboto;
    background-color: black;
}

@font-face {
  font-family:Gotham;
  src: url(font/Gotham-Medium.otf);
}

@font-face {
  font-family:Roboto;
  src: url(font/Roboto-regular.ttf);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

h1 , h2 , h3 {
     font-family:Gotham;
}

h1 {
    font-size: 28px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar li a {
    font-family:Gotham;
    font-size:20px;
    width: 100px;
    padding: 20px;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px;
    transition: all 0.5s
}

.navbar li a:hover {
    background-color: #AB6724;
    color: white;
}

.logo img {
    height: 30px;
}

header {
    background-image: url(img/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
}

hr {
    width: 10%;
}



.text {
    color: white;
    padding: 20px;
    text-align: left;
}

/* home */

.parent,
.downloadsection {
    margin: 0 auto;
    width: 100%;
    padding: 30px 0 30px 0;
    background-color: black;
    color: white;
}

.parent2 {
    margin: 0 auto;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #222;
    color: white;
}

.title {
    padding: 20px;
    color: white;
}


.child {
    display: flex;
    background-color: black;
}

.child2 {
    display: flex;
    background-color: #222;
}

/* end of home*/

/* info page */

.product {
    display: flex;
    justify-content: center;
    background-color: black;

}

/* end of info page */

.specs {
    margin: 0 auto;
    background-color: black;
    padding: 80px 0 80px 0;
}

.specs h1 {
    padding: 20px;
    color: white;
    margin: 0px;
}

.specstop {
    display: flex;
    justify-content: space-around;
}

.caption {
    flex: 1;
    text-align: center;
    color: white;
    padding: 10px;
}

.bg {
    background-image: url(img/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 500px;
}

.bg2 {
    background-image: url(img/bg-2.png);
}

.bg3 {
    background-image: url(img/bg-3.png);
    background-position: top;
}

.bg4 {
    background-image: url(img/bg-4.png);
    background-position: center;
}

.bg5 {
    background-image: url(img/bg-5.png);
    background-position: center;
}

.bg6 {
    background-image: url(img/bg-6.png);
    background-position: center;
}

.bg7 {
    background-image: url(img/bg-7.png);
    background-position: center;
}


.box2 {
    position: absolute;
    max-width: 40%;
}

.right {
    right: 30px;
}

.left {
    left: 30px;
}


.child3 {
    position: relative;
    display: flex;
    background-color: #222;
    padding: 150px;
}

/* end of info page */

/* review */

.review {
    flex: 1;
    text-align: center;
    padding: 30px;
    color: white;
    text-align: center;
}

.review img {
    flex:1;
    width: 80%;
}

.review p {
    margin: 0 auto;
    padding: 30px;
    max-width: 80%;
}

/* Gallery */

.parent3 {
    margin: 0 auto;
    width: 90%;
    padding: 10px 0 10px 0;
    background-color: black;
    color: white;
}

.gallery {
    display: flex;
}

.image img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.6s
}

.image img:hover {
    opacity: 0.5;
}

/* Download Section */

.downloaddiv {
    display: flex;
    justify-content: center;
}

.download {
    font-size: 20px;
    background-color: #AB6724;
    text-decoration: none;
    padding: 40px 80px 40px 80px;
    color: white;
    margin: 0 20px 0 20px;
    transition: all 1s;
}

.download:hover {
    background-color: #222;
    padding: 40px 120px 40px 120px;
}

/* end of review */

.downloadapp {
    display: flex;
    background-color: #222;
}

.downloadapp img {
    width: 100%;
}


.box {
    position: relative;
    padding: 30px;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}

.ibox {
    flex: 1;
    position: relative;
}

.greybox {
    flex: 2;
    position: relative;
    background-color: #333
}

.ibox img {
    height: 100%;
    width: 100%;
}

.button {
    position: absolute;
    padding: 10px;
    text-decoration: none;
    background-color: #AB6724;
    color: white;
    right: 30px;
    bottom: 30px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px;
    color: gray;
}

footer {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 100%;
    background-color: #222;
    padding: 20px;
}

.subscribe {
    display: flex;
    justify-content: center;
    padding: 30px;
}

input[type="email"] {
    font-size: 18px;
    padding: 20px;
    width: 40%;
    border: none;
}

input[type="submit"] {
    font-size: 18px;
    padding: 20px;
    width: 20%;
    color: white;
    background-color: #AB6724;
    border: none;
    transition: all 0.6s;
}

input[type="submit"]:hover {
    background-color: #333;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    border: none;
}

.socialmedia img {
    width: 40px;
    margin: 0 5px 0 5px;
    opacity: 1;
    transition: all 0.8s;
}

.socialmedia img:hover {
    opacity: 0.4;
}


@media only screen and (max-width: 600px) {

    nav {
        justify-content: center;
    }

    .navbar li a {
        font-size:18px;
        padding:15px;
        margin: 0;
    }


    .child,
    .subscribe,
    .specstop,
    .gallery,
    .downloaddiv {
        flex-direction: column;
    }

    .child2 {
        flex-direction: column-reverse;
    }

    .button,
    .ibox {
        display: none;
    }

    .box {
        padding: 10px 0px 10px 0px;
    }

    .download {
        margin-top: 10px;
        text-align: center;
    }

    .greybox {
        background-image: url(img/product3.png);
        background-position: center;
        background-size: cover;
    }

    .product img {
        width: 100%;
    }

    .caption img {
        width: 30%;
    }

    .review img {
        width: 70%;
    }

    .caption {
        margin: 0 auto;
        padding: 0px 10px 20px 10px;
        max-width: 70%;
    }

    .box2 {
        max-width: 100%;
    }

    .left,
    .right {
        left: 0px;
        right: 0px;
    }

    input[type="email"],
    input[type="submit"] {
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }
}
